{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    #div_frnd{
        width:100%;
        height:600px;
        background-color: transparent;
        margin-top:-600px;
        position: relative;
    }

    #div_frnd:hover{
        width:100%;
        height:600px;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top:-600px;
        position: relative;
    }
    #main_hd{
        text-align: center; 
        text-align: center;
        color: transparent;
        margin-top: 200px;
 

    }
    #main_hd:hover{
        text-align: center; 
        font-size: 50px;
        font-weight: bold;
        color: white;

    }
   
    

</style>

<div class="container-fluid" style=" margin-left: 0; margin-right: 0;">
    <!--Carosoul-->

    <div class="row">  
        <div class="col-12" >

            <div id="demo" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" >
                <div class="carousel-item">
                    <img src="{% static 'image\banner-1.jpeg'%}" alt="Los Angeles" style="width: 100%;height:600px">
                </div>
                <div class="carousel-item">
                    <img src=" {% static 'image\banner 2.webp'%}" alt="Chicago"  style="width: 100%;height:600px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'image\banner 3.webp'%}" alt="New York"  style="width: 100%;height:600px">
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'image\banner 3.webp'%}" alt="Los Angeles"  style="width: 100%;height:600px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'image\banner5.webp'%}" alt="Chicago"  style="width: 100%;height:600px">
                </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                </a>
            
            </div>
        
        </div>
        <div  class="cpl-sm-12" id="div_frnd">
            <h1 id="main_hd">NATIONWIDE<br>HEAVY CIVIL<br>CONSTRUCTION<br>COMPANY</h1>
          
        </div>
    </div>
    <div class="row" style="margin-top: 5%;" >
        <div class="col-12">
            <h1 style="text-align: center; font-size:50px; font-weight: bolder; color: green;">MARKETS SERVED</h1>

            <div class="row" style="margin-top: 1%;">
                <div class="col-sm-12">
                    <h4 style="text-align: center; margin-left: 10%; margin-right: 10%;">
                        SQ Engineering Contractors Pvt Ltd. a world class civil engineering and construction company established in 
                        2009 at Cochin, Kerala, India with more than 12 years of experience in a wide range of sectors including
                        construction, sales etc. dealing with clients all over in the world. The success story of SQEC continues
                        with a vision of state of art technology, hard work with dedicated and qualified teams having highly
                        professional background, vision and innovative skills. SQ Engineering Contractors in Kakkanad Ernakulam is
                        a top player in the category of Construction Companies in the Ernakulam. Over the course of our journey, this
                        business has established a firm foothold in it’s industry. 
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:5%;">
        <div class="col-sm-12">
            <div class="card" style="flex-direction: row;">
                <div class="row card-body">
                    <img class="col-sm-6" src="{% static 'image\civil3.jpg'%}" alt="sans"/>
                    <div class="col-sm-6">
                      <h5 class="card-title" style="color: white ;font-weight: bold; background-color: green;">SITEWORK
                        & UTILITIES</h5>
                       <p class="card-text">

                        <ul>
                        <li>Underground Fuel Systems</li>
                        <li> Stormwater piping installation</li>

                        <li>Sanitary piping installation</li>

                        <li>Bypass pumping operations</li>

                        <li>Sanitary lift station & force main construction</li>

                        <li>Underground stormwater retention systems</li>

                        <li> Pre-cast and cast-in-place box culvert construction</li>

                        <li>Bio retention systems</li>

                        <li> Deep excavation/specialty shoring expertise</li>

                        <li>Domestic water & fire main installation (both public and private)</li>
                        </ul>

                       </p>
                       <a href="#" class="btn btn-success">View More...</a>
                    </div>
                    
                </div>
            </div>
    </div>


    

    <div class="row" style="margin-top:5%;">
        <div class="col-sm-12">
            <div class="card" style="flex-direction: row;">
                <div class="row card-body">
                   <div class="col-sm-6">
                      <h5 class="card-title" style="color: rgb(255, 255, 255);font-weight: bold; background-color: green;">STRUCTURAL CONCRETE</h5>
                       <p class="card-text">
                        
                        <h6> provide advanced architectural and structural concrete services to design and implement complex projects.</h6>


                        <ul >
                            <li>
                                Structural cast-in-place building foundation systems</li>
                            <li> Cast-in-place retaining wall systems</li>
    
                            <li>Multi-story, cast-in-place concrete structures</li>
    
                            <li>Cast-in-place box culvert and underground detention systems </li>
    
                            <li>Sanitary lift station & force main construction</li>
    
                            <li>Cast-in-place / pre-cast parking structures</li>
    
                            <li> Pre-cast and cast-in-place box culvert construction</li>
    
                            <li>Expertise in a wide variety of creating systems</li>
    
                            <li> Design-Assist / Design–Build capabilities</li>
    
                            <li>
                                Self-Perform steel reinforcement installation</li>
                        </ul>

                       </p>
                       <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                    <img class="col-sm-6" src="{% static 'image\banner5.webp'%}" alt="sans"/>
                </div>
            </div>
    </div>

    <div class="row" style="margin-top: 5%; background-color:green">
        <div class="col-sm-12" style=" margin-left: 54%;">
            <h1> <span style="color: white;"> Customer </span><span style="color: green;"> Review > ></span></h1>
        </div>
    </div>

    
    <div class="row" style="margin-top:5%; background-image: url('static/image/cilvi2.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="col-sm-3" style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-1.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Raam Manohar</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-3.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Arun Kumar</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-2.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Amirtha Kt</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-7.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Viswam Kumar</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style="  width: 17rem;" src="{% static 'image\avatar-6.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Aliya Jayram</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-8.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Arun Damodhar</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%;margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style="  width: 17rem;" src="{% static 'image\avatar-11.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Amrith Ram</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"style="margin-top: 2%; margin-bottom:2%">
                    <div class="card sm-3" style="width: 18rem;height: auto;text-align: center;">
                        <img class="card-img-top" style=" width: 17rem;" src="{% static 'image\avatar-10.png'%}">
                        <div class="card-body">
                            <h5 class="card-title"style="color: green;font-weight: bold;">Kaniha Kumary</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo dolorem cum accusantium aperiam possimus ad, ipsa dolore, neque rem iste, velit libero sunt reprehenderit facilis vero doloribus obcaecati! Earum.
                            </p>
                      
                            <a href="#"><button class="btn btn-success">View More..</button> </a> 
                        </div>
                    </div>
                </div>
       
    </div>

    


</div>
{% endblock %}