{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-sm-12"  style="background-color: #343a40; margin:1% auto">
            <table class="table table-dark" style="text-align: center;">
                <h1 style="color: white; margin-top: 1%; margin-bottom: 3%; text-align: center;">Student Details</h1>
                <thead>
                    <tr>
                        <th style="color: yellow;">ID</th>
                        <th style="color: yellow;">NAME</th>
                        <th style="color: yellow;">ADDRESS</th>
                        <th style="color: yellow;">AGE</th>
                        <th style="color: yellow;">JOIN DATE</th>
                        <th style="color: yellow;">COURSE</th>
                        <!-- <th style="color: yellow;">ACTION</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for i in result %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.std_name}}</td>
                        <td>{{i.std_address}}</td>
                        <td>{{i.std_age}}</td>
                        <td>{{i.join_date}}</td>
                        <td>{{i.course.course_name}}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}